doctype 5
html
  head
    - if (typeof(title) == 'undefined')
        title Main Page
    - else 
        title= title
    
    // include default stylesheets and any view stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    // include default scripts and any view scripts
    script(src='/javascripts/jquery-1.8.3.min.js')
    script(src='/javascripts/modernizr.js')
    script(src='/javascripts/Chart.min.js')
    
  body   
    section(class="featured")
      div(class="content-wrapper")
        button#authorize-button(style="display:none;") Login

    section(class="main-content")
      | <font size=15>Product & Item Graph</font>
      fieldset
        ol.round
          li.one
            label Start Date
            input#product-start-date
            label End Date
            input#product-end-date
          li.two
            label Max Results
            input#product-max-results
            label Max Scale of Products
            input#product-max-products-scale
            label Max Scale of Items
            input#product-max-items-scale
          li.three
            label Server ID
            input#product-server-id

      br
      button#product-execute(style="display:none;") Exec
      br
      div#product-output(style="display:none;")
        | Product Graph
        br
        canvas#chtProduct(width="1024",height="600")
        br
        | Item Graph
        br
        canvas#chtItem(width="1024",height="600")
        br
      | <font size=15>Date Graph</font>
      fieldset
        ol.round
          li.one
            label Start Date
            input#date-start-date
            label End Date
            input#date-end-date
          li.two
            label Server ID
            input#date-server-id
      button#date-execute(style="display:none;") Exec
      br
      div#date-output(style="display:none;")
        | Date Graph
        br
        canvas#chtDate(width="1024",height="600")
        br
        | <font color=#DCDCDC>- : total</font>
        br
        | <font color=#97BBCD>- : p2p</font>
        br
        | <font color=#CDBB97>- : f2p</font>

      script(src='/javascripts/auth_util.js')
      script(src='/auth_info.js')
      script(src='/bill_products.js')
      script(src='/bill_product_items.js')
      script(src='/service_item.js')
      script(src='/javascripts/core.js')
      script(src='https://apis.google.com/js/client.js?onload=handleClientLoad')
