strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
li {
  list-style: none;
}
/* Universal Styles */
.textReplacement {
  text-indent: -1000em;
  display: block;
}
/* For interiorBorder, always add to the parent div's properties "box-sizing:border-box; padding:1px;" */
.interiorBorder {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid red;
}
html,
body {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html {
  background-color: #e2e2e2;
  background: url(/images/chromeTopLeft.png) no-repeat left top, url(/images/chromeTopRight.png) no-repeat right top, url(/images/chromeBottomLeft.png) no-repeat left bottom, url(/images/chromeBottomRight.png) no-repeat right bottom, url(/images/chromeTopRepeat.png) repeat-x left top, url(/images/chromeLeftRepeat.png) repeat-y left top, url(/images/chromeRightRepeat.png) repeat-y right top, url(/images/chromeBottomRepeat.png) repeat-x left bottom;
  padding: 100px 12px 29px;
  box-sizing: border-box;
}
body {
  border-top: solid 10px #000;
  color: #333;
  background: #ffffff url(/images/bgBody.jpg) no-repeat center top;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
#progressPositioning {
  position: absolute;
  top: 12px;
  left: 0px;
  display: block;
  width: 100%;
  height: 83px;
  box-sizing: border-box;
  padding: 0 254px 0 9px;
  z-index: 55;
}
#progress {
  border: 1px solid #223869;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  padding: 1px;
}
#progress .interiorBorder {
  border-color: #264a81;
  background-color: #051223;
  padding: 1px 14px 0 14px;
}
#progressBar {
  float: left;
  display: block;
  width: 100%;
  height: 26px;
  background-color: #000;
  margin-top: 7px;
}
.progressBarComplete {
  display: block;
  width: 20%;
  height: 24px;
  margin-bottom: -26px;
  float: left;
  border-width: 2px 1px;
  border-style: solid;
  border-color: #2a60a6;
  margin-top: -1px;
  box-shadow: 0px 0px 10px #92c1ef;
  background: linear-gradient(90deg, #2f69b4 0%, #6cacff 63%);
}
#progressBar .fileName {
  float: left;
  clear: left;
  color: #fff;
  text-shadow: -1px 1px 0 #000000;
  font-size: 14px;
  margin: 3px 0 0 10px;
}
#patchAndAccounts {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 235px;
  height: 83px;
  z-index: 76;
}
#buttonPatch a {
  display: block;
  width: 238px;
  height: 83px;
  background: url(/images/bgButtonPatchLaunch.jpg) no-repeat left top;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #7a7a7a;
  text-shadow: 0 0 5px #000, 0 0 8px #000;
  padding: 18px 8px;
  box-sizing: border-box;
  opacity: .5;
  cursor: default;
  color: #fff;
}
#buttonPatch a.ready {
  opacity: 1;
  cursor: pointer;
}
#buttonPatch a.ready:hover {
  background-position: left center;
}
#buttonPatch a.ready:active {
  background-position: left bottom;
  padding: 20px 10px 0 6px;
}
.modalScreen {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 79;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 100%);
}
iframe.error {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin-left: -447px;
  margin-top: -209px;
  overflow: none;
  width: 895px;
  height: 419px;
  z-index: 100;
  border: 1px solid rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}
